%html

%head
%meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
%meta{"http-equiv"=>"Content-Style-Type", :content=>"text/css"}
%meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=edge"}

-if current_user
  .navbar-text.navbar-right
    Signed in as #{current_user.name}
    |
    %a.navbar-link{href: '/logout'} Logout

-flash.each do |name, msg|
  =content_tag :div, msg, class: "alert alert-danger"


=stylesheet_link_tag 'application'
=javascript_include_tag 'application'
=csrf_meta_tag

%title World Time

%body
  =yield
